{% extends 'blog/detail.html' %}
{% block post_title %}
Sample note
{% endblock %}

{% block meta_description %}
This is a sample note.
{% endblock %}

{% block post_content %}
<p>
    This is a sample page.
</p>
<div class="code-content">
<div class="code-header">
    <span class="code-title">sample01.py</span>
    <div class="code-btn">
        <button type="button" class="popup d-none d-lg-inline">Popup</button>
        <button type="button" class="clipboard" alt="Copy to clipboard">Copy</button>
    </div>
</div>
<pre><code>{% filter force_escape %}
sample code...
{% endfilter %}</code></pre>
</div>
{% endblock %}