<header class="blog-header py-3">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-6 pt-1">
      <a class="blog-header-logo text-dark" href="{% url 'blog:index' view.kwargs.author_name %}">{{ view.kwargs.author.title_text }}</a>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <form action="{% url 'blog:search' view.kwargs.author_name %}" method="GET">
        <input type="search" class="form-control ds-input" id="header-search" name="keyword" placeholder="Search..." autocomplete="off">
      </form>
    </div>
  </div>
</header>