{% extends 'blog/base.html' %}
{% load i18n app_tags %}
{% block head_title %}{% block head_author_title %}{{ view.kwargs.author.title_text }}{% endblock %}{% endblock %}
{% block meta_description %}{% endblock %}
{% block main %}
  <div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-6 pt-1">
          <a class="blog-header-logo text-dark" href="{% url 'blog:index' view.kwargs.author_name %}">{% block main_title %}{% block main_author_title %}{{ view.kwargs.author.title_text }}{% endblock %}{% endblock %}</a>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
          <div class="row w-100">
            <div class="col text-right" style="min-width:8rem;">
              <form action="{% url 'set_language' %}" method="POST">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                {% if view.kwargs.available_languages %}
                  {% get_language_info_list for view.kwargs.available_languages as languages %}
                  {% if languages|length > 1 %}
                    <div class="input-group">
                      <select name="language" class="form-control">
                          {% get_current_language as LANGUAGE_CODE %}
                          {% for language in languages %}
                              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                  {{ language.name_local }} ({{ language.code }})
                              </option>
                          {% endfor %}
                      </select>
                      <div class="input-group-append">
                        <input type="submit" class="btn btn-outline-secondary" value="Go">
                      </div>
                    </div>
                  {% else %}
                    <input type="submit" class="btn btn-light" value="{{ languages.0.name_local }}">
                    <input name="language" type="hidden" value="{{ languages.0.code }}">
                  {% endif %}
                {% endif %}
              </form>
            </div>
            <div class="col" style="min-width:8rem;">
              <form action="{% url 'blog:search' view.kwargs.author_name %}" method="GET">
                <input type="search" class="form-control ds-input" id="header-search" name="keyword" placeholder="Search..." autocomplete="off">
              </form>
          </div>
        </div>
      </div>
    </header>
  </div>
  <main class="container mt-3">
    <div class="row">
      <div class="col-md-8 blog-main">
        <div id="alert_container">
          {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="default_alert" role="alert">
              <div class="message-text">{{ message }}</div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
          <div class="alert alert-dismissible fade show" id="default_alert" role="alert" style="display:none;">
            <div class="message-text"></div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        {% block blog_main %}{% endblock %}
      </div>
      <aside class="col-md-4 blog-sidebar">
        <div class="position-sticky">
          {% block aside1 %}
            <div class="p-3 mb-3 bg-light rounded">
              <p class="mb-0">
                {% block author_aside %}{% endblock %}
              </p>
            </div>
          {% endblock %}
          {% block aside2 %}
            <div class="mb-3">
              {% category_summary view.kwargs.author.id %}
            </div>
          {% endblock %}
          {% block aside3 %}
            <div>
              {% post_favor view.kwargs.author.id 3 %}
            </div>
          {% endblock %}
        </div>
      </aside>
    </div>
  </main>
{% endblock %}